---
layout: main
title: Portfolio of Ashley M. Miller
---

<div id="two">
<div id="main_about">
<h1>My name is Ashley Miller <small>and I'm a Jack of All Trades.  I'm a quick learner, super geeky, and very interested in how people tick.</small></h1>
</div>
</div>

<div id="four">
<div id="main_blog">

<a title="blog" id="blog"></a><h2>Latest Blog Posts</h2>
<ul>
{% for post in site.posts %}
      <li>{{ page.date | date: "%B %d, %Y" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<div class="right"><a href="blog.html">Read more posts &raquo;</a></div>

</div>
</div>

<div id="five">
<div id="main_contact">
<a title="contact" id="contact"></a><h2>Contact Me</h2>
{% include form.html %}

</div>
</div>