---
layout: main
title: Portfolio of Ashley M. Miller
---

<div id="two">
<div id="main_about">
{% include maintop.html %}
</div>
</div>

<div id="three">
<div id="main_portfolio">
<a title="portfolio" id="portfolio"></a><h2>Featured Work</h2>
<div class="featured"><a href="#"><img src="lcilfront.jpg" /></a></div>
<div class="featured"><a href="#"><img src="lcilvac.jpg" /></a></div>
<div class="featured"><a href="#"><img src="fpc.jpg" /></a></div>
<div class="right"><a href="portfolio.html">See more in my portfolio &raquo;</a></div>
</div>
</div>

<div id="four">
<div id="main_blog">

<a title="blog" id="blog"></a><h2>Latest Blog Posts</h2>
<ul>
{% for post in site.posts %}
      <li>{{ page.date }} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<div class="right"><a href="blog.html">Read more posts &raquo;</a></div>

</div>
</div>

<div id="five">
<div id="main_contact">
<a title="contact" id="contact"></a><h2>Contact Me</h2>
{% include form.html %}

</div>
</div>