<form method="POST" action="http://forms.brace.io/ashiko@gmail.com">
    
        <div class="form-left">
            <label for="InputName">Name</label><br/>
            <input name="name" type="name" class="form-control" id="InputName">
        
            <label for="InputEmail1">Email address</label><br/>
            <input name="_replyto" type="email" class="form-control" id="InputEmail1">
        </div>
    
        <div class="form-right">
            <label for="TextArea">How can I help?</label><br/>
            <textarea name="message" class="form-control"></textarea>    
        </div>
      
       <div class="form-button">
        <button type="submit" class="btn btn-primary">Submit</button>
	</div>

    </form>