<html>
<head>
<link rel="stylesheet" href="{{ base.url }}/style.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
<meta charset="UTF-8">
<meta name="description" content="Front-end development portfolio for Ashley Miller">
<meta name="keywords" content="HTML,CSS,front-end development,web design,web development,portfolio,personal site,personal">
<meta name="author" content="Ashley Miller">
<meta name="google-site-verification" content="TZZkZU4sM-Eh2fglFheyMWvRxwjXAP43fGGB_NZZzc" />
</head>
<body>