<nav id="one" role="navigation">
<ul id="topnav">
<li><a href="{{ base.url }}/about.html">About</a></li>
<li><a href="{{ base.url }}/portfolio.html">Portfolio</a></li>
<li><a href="{{ base.url }}/blog.html">Blog</a></li>
<li><a href="{{ base.url }}/contact.html">Contact</a></li>
<li id="socmed"><a href="https://www.linkedin.com/pub/ashley-miller/14/705/2b8"><img src="{{ base.url }}/images/linkedin.png" alt="LinkedIn" style="border: 0px;" /></a>
<a href="https://www.facebook.com/ammiller88"><img src="{{ base.url }}/images/fb.png" alt="Facebook" style="border: 0px;" /></a>
<a href="https://plus.google.com/u/0/+AshleyMiller1988"><img src="{{ base.url }}/images/google.png" alt="Google+" style="border: 0px;" /></a></li>
</ul>
<a href="#menu" id="pull">Menu</a>
</nav>