---
layout: main
title: About Ashley M. Miller
---

<div id="two">
<div id="main_about">
<a href="{{ base.url }}/index.html"><img src="{{ base.url }}/images/az.jpg" class="left" /></a><h1>My name is Ashley Miller and I'm a Jack of All Trades. <small>I'm a quick learner, a geek, and interested in how people work.</small><br/>
<a href="https://www.linkedin.com/pub/ashley-miller/14/705/2b8"><img src="{{ base.url }}/images/linkedin.png" alt="LinkedIn" /></a>
<a href="https://www.facebook.com/ammiller88"><img src="{{ base.url }}/images/fb.png" alt="Facebook" /></a>
<a href="https://plus.google.com/u/0/+AshleyMiller1988"><img src="{{ base.url }}/images/google.png" alt="Google+" /></a></h1>
</div>
</div>

<div id="four">
<div id="main_blog">

{{ content }}

</div>
</div>

<div id="five">
<div id="main_contact">
<a name="contact" id="contact"></a><h2>Contact Me</h2>
{% include form.html %}
</div>
</div>