---
layout: main
---

<div id="two">
<div id="main_about"><a href="{{ base.url }}/index.html"><img src="{{ base.url }}/images/az.jpg" class="left" /></a><h1><span class="blogtitle">{{ page.title }}</span> <small>was written on {{ page.date | date: "%B %d, %Y" }}. You can read more posts like it in <a href="{{ base.url }}/{{page.categories}}.html" class="blogtitle">{{page.categories}}</a>, or you can read all posts at the <a href="{{ base.url }}/blog.html">Blog</a>.</small></h1>
</div></div>

<div id="four">
<div id="main_blog">

{{ content }}
</div>
</div>

<div id="spacer"></div>